.booking-page2 {
    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 700px;
        background: url(../img/thewarehouse-bg.jpg) center/cover;
    }
    .header-logo {
        display: flex;
        justify-content: center;
        z-index: 10001;
        position: relative;
        img {
            position: fixed;
            align-items: center;
            top: 15px;
            height: 150px;
            width: 300px;
        }
    }
    nav {
        position: fixed;
        right: 30px;
        top: 130px;
        z-index: 10000;
        .btnActive {
            transform: rotate(90deg) translateX(30px);
        }
        #navbtn {
            transition: 0.4s;
            span {
                height: 4px;
                background: rgb(223, 21, 21);
                display: block;
                border-radius: 50px;
                cursor: pointer;
            }
            span:first-child {
                width: 40px;
                margin-bottom: 5px;
            }
            span:last-child {
                width: 20px;
            }
        }
        .navactive {
            visibility: visible;
            opacity: 1;
            line-height: 3.5rem;
            background: rgba(255, 0, 0, 0.185);
            border-radius: 30px;
            padding: 20px;
        }
        ul {
            visibility: hidden;
            opacity: 0;
            list-style: none;
            transform: 0.5s;
            margin-top: 30px;
            color: black;
        }
        #accueil {
            color: red;
        }
    }
    #booking-page2 {
        margin-top: 450px;
        padding-bottom: 80px;
        .booking-form {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: flex-start;
            justify-content: space-between;
            z-index: 1000;
            position: relative;
            padding: 40px;
            display: flex;
            min-width: 800px;
            width: 20%;
            margin: 0 auto;
            border-radius: 25px;
            background: WHITE;
            box-shadow: 1px 1px 5px grey;
            padding-bottom: 80px;
            h3 {
                font-size: 3rem;
                color: red;
                padding-bottom: 20px;
                font-family: font-1;
                font-weight: bold;
                position: left;
                transform: translateX(-140px);
            }
            .wrapper {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
                grid-gap: 20px;
                justify-items: center;
                width: 80%;
                margin: 0 auto;
                padding-bottom: 30px;
            }
            #name {
                border-radius: 25px;
                padding: 5px;
                color: red;
                font-weight: bold;
                width: 100%;
                box-shadow: 1px 1px 5px grey;
                font-family: font-1;
            }
            .name {
                color: black;
                font-size: 1.2rem;
                font-family: font-1;
                padding-left: 5px;
                padding-bottom: 5px;
            }
            .firstname {
                color: black;
                font-size: 1.2rem;
                font-family: font-1;
                padding-left: 5px;
                padding-bottom: 5px;
            }
            .mail {
                color: black;
                font-size: 1.2rem;
                font-family: font-1;
                padding-left: 5px;
                padding-bottom: 5px;
            }
            .phone {
                color: black;
                font-size: 1.2rem;
                font-family: font-1;
                padding-left: 5px;
                padding-bottom: 5px;
                font-family: font-1;
            }
            #firstname {
                border-radius: 25px;
                padding: 5px;
                color: red;
                font-weight: bold;
                width: 100%;
                box-shadow: 1px 1px 5px grey;
                font-family: font-1;
            }
            #mail {
                border-radius: 25px;
                padding: 5px;
                color: red;
                font-weight: bold;
                width: 100%;
                box-shadow: 1px 1px 5px grey;
                font-family: font-1;
            }
            #phone {
                border-radius: 25px;
                padding: 5px;
                color: red;
                font-weight: bold;
                width: 100%;
                box-shadow: 0px 3px 6px #000000;
                font-family: font-1;
            }
        }
        .checkbox {
            position: relative;
            display: flex;
            flex-direction: column;
        }
        .label-checkbox {
            padding: 3px;
            color: red;
            font-size: 1rem;
            font-family: font-1;
        }
        a {
            position: absolute;
            @include btn;
            align-items: center;
            text-align: center;
            width: 20%;
            box-shadow: 0px 3px 6px #000000;
            right: 0;
            margin-right: 50px;
            margin-top: 10px;
        }
    }
}
