#concept {
    .our-concept {
        margin: 0 auto;
        width: 40%;
        @media screen and (max-width: 800px) {
            width: 80%;
        }
        h2 {
            font-family: font-1;
            color: red;
            font-size: 3rem;
        }
        p {
            padding-top: 20px;
            padding-bottom: 50px;
            font-family: font-1;
        }
    }
    .slider-card {
        display: flex;
        min-width: 450px;
        max-width: 1400px;
        height: 700px;
        margin: 4px auto;
    }
    .image {
        min-width: 100px;
        margin: 5px;
        cursor: pointer;
        overflow: hidden;
        position: relative;
        transition: 1s;
    }
    .image.active {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr;
        grid-template-areas: "img synopsis";
        flex-grow: 100;
        max-width: 1000px;
        height: 700px;
        margin: 0px;
        border-radius: 25px;
        transition: 1s;
    }
    .image:not(.active) {
        flex-grow: 1;
        border-radius: 25px;
        transition: 1s;
    }
    .text-container {
        grid-area: synopsis;
        width: 90%;
        right: 0;
        margin-top: 20px;
        height: 650px;
        padding: 10px;
        border-radius: 25px;
        visibility: hidden;
        transform: translateY(400px);
        opacity: 0.5;
        transition: all 0.5s ease;
        background: rgba($color: darkgrey, $alpha: 0.6);
        overflow: hidden;
        .text {
            margin: 20px;
            text-align: center;
            line-height: 30px;
            display: flex;
            text-align: justify;
            flex-direction: column;
            padding-top: 50px;
            padding-left: 20px;
            padding-right: 20px;
            color: black;
            font-weight: 500;
            position: absolute;
            h3 {
                padding-bottom: 50px;
                font-weight: 600;
                color: red;
                text-align: none;
                font-size: 2rem;
            }
            a {
                @include btn;
                margin-left: 20px;
                padding-left: 40px;
                align-items: center;
                text-align: center;
                width: 60%;
            }
        }
    }
    .active .text-container {
        visibility: visible;
        transform: translateY(0px);
        opacity: 1;
    }
    .price p {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        font-size: 1.2rem;
        width: 60%;
        color: red;
        font-weight: bold;
        font-family: font-1;
    }
}
