.FAQ {
    h3 {
        text-align: center;
        color: red;
        padding-bottom: 20px;
        font-size: 3rem;
        font-family: font-1;
        @media screen and (max-width: 800px) {
            font-size: 2rem;
        }
    }
    .FAQ-container {
        color: black;
        text-align: center;
        width: 50%;
        margin: 0 auto;
        padding-bottom: 100px;
        font-family: font-1;
    }
    .accordion-button {
        color: red;
        font-family: font-1;
        font-size: 2rem;
        @media screen and (max-width: 800px) {
            font-size: 1rem;
        }
    }
    .accordion-body {
        line-height: 25px;
        text-align: justify;
    }
}
